<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yanglw.android.spi.demo.biz3">

    <application>
        <activity android:name=".Biz3Activity"
            android:exported="false">
            <intent-filter>
                <action android:name="me.yanglw.android.spi.demo.biz3.action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
